
*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
}



body{
    background-color: #b22222;
    color: white;
}

header{
    background-image: linear-gradient(to left,#dcdcdc, #5e5d5d);
    margin: 3px;
    padding: 3px;
    border: 2px solid black;
    border-radius: 10px;
}

header h1{
    color: black;
    text-align: center;
    text-shadow: 1px 1px 1px black;
}

header nav{
    text-align: center;
}

nav{
    border-radius: 10px;
    background-color: #1a1a1a;
    text-align: center;
    margin: 0;
    padding: 5px;
}

nav a{
    color: #f0f0f0;
    text-decoration: none;
    font-weight: 800;
    margin: 0 10px ;
    padding: 5px;
}

nav a:hover{
    color: #e6b1b1;
}

main{
    background-image: linear-gradient(to top, #dcdcdc, #5e5d5d);
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
}

main h2{
text-align: center;

}

.divi{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.divi img{
    width: 300px;
    height: 200px;
    border-radius: 100px;
    transform: scale(0.9);
    transition: transform 0.4s ease;
}

.divi img:hover{
    transform: scale(1.2);
}

.divi2{
    background-color: #180101;
    margin: 5px;
    padding: 5px;
    border: 3px solid black;
    border-radius: 20px;
}

.divi2 h1{
    text-align: center;
}

.divi2 p{
    border-radius: 5px;
    margin: 3px;
    padding: 1px;
    font-weight: bold;
    text-align: justify;
    background-color: white;
    color:black;
}

.config{
    background-image: linear-gradient(to left,#3e4bc3,#d6d6d6,#904949);
    border-radius: 10px;
}

.config h2{
    color: black;
}

.video{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.ytt{
    width: 300px;
    height: 250px;
    margin: 20px;
    padding: 10px;
    border-radius: 30px;
    transform: scale(1);
    transition: transform 0.3s ease;
}

.ytt:hover{
    transform: scale(1.2);
}

footer{
    background-color: #1a1a1a;
    color: white;
    padding: 5px;
    margin: 3px;
    border-radius: 5px;
}

footer p{
    text-align: center;
}

.ctt{
    border: 2px solid black;
    border-radius: 20px;
    background-image:linear-gradient(to top,aqua,aquamarine) ;
    width: 200px;
    padding: 5px;
    margin: 5px;

}

.btt{
border: 2px solid black;
border-radius: 10px;
padding: 2px;
margin: 2px;
width: 55px;
background-color: #000000;
box-shadow: 2px 2px 2px black;
cursor: pointer;
transition: 0.1s ease, 0.1s ease;
}

.btt:active{
    transform: scale(0.96);
    box-shadow: 0 2px 6px #00000033;
}

.btt:hover{
    background-color: #b22222;
    color: aliceblue;
}